.button_view
{
    background-color: inherit;
    padding: 0.2rem 1rem;
    transition: background-color 0.2s ease;
    text-align: start;
    width: 100%;
    min-width: 12em;
    height: 2em;
    color:white;
    font-family: "Raleway", serif;

}
.button_view:hover
{
    background-color: rgb(222, 222, 222);

}