.titleHome
{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleHome h2
{
    flex:2;
    padding-left: 20px;
}
.titleHome div
{
    flex:4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleHome img
{
    width:85%;
    object-fit: contain;
}