.titleHome
{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleHome h2
{
    flex:2;
    padding-left: 20px;
}
.titleHome div
{
    flex:5;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}
.titleHome img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}