.customerForm
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.customerForm h4
{
    padding-left: 10px;
}
.form_div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*Form: */
.form_customerForm
{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1em;
}