.headProductManagement
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85%;
    gap: 1em;
    padding: 1em;
}

.headProductManagementButtonContainer
{
    margin-top: 5em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1em;
}