.APP
{
    position: relative;
    display: flex;
    height: 100%;
}
.header_view
{
    flex:1
}
.pages_view
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:5;
}