.CREATEINVOICE_PAGE
{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", serif;
    width: 100%;
    height: 98%;
}

/*Superior*/
.CREATEINVOICE_PAGE_sup
{
    position: relative;
    display: flex;
    flex:4
}
/*Sup-Derecha*/
.CREATEINVOICE_PAGE_sup_der
{
    flex:1;
}
/*Sup-Izquierda*/
.CREATEINVOICE_PAGE_sup_izq
{
    flex:1;
}
/*Inferior*/
.CREATEINVOICE_PAGE_inf
{
    flex:3
}