.CUSTOMER_PAGE
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 2em;
    gap:1em;
    font-family: "Raleway", serif;
    height: 80%;
    /*background-color: #007bff;*/
    width: 100%;

}
.CUSTOMER_PAGE_SEARCH_DIV
{
    position: relative;
    display: flex;
    justify-content: space-between;
}