.SEARCHINVOICE_PAGE
{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", serif;
    justify-content: center;
    height: 80%;
    /*background-color: #007bff;*/
}

/*Parte de Arriba*/
.search_and_filters
{
    flex:1;
}
/*Parte de abajo*/
.table_invoice_searched
{
    flex:1;
}