.invoiceSearch
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
}

.active-filters
{
    margin-top: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
}
.filter_buttons_button
{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.searchInvoiceButton
{
    color:var(--white);
    background-color:  var(--color-primary);
    width: 10em;
    border-radius: 15px;
    transition: background-color 0.2s ease-out;
}
.searchInvoiceButton:hover
{
    background-color:  var(--select_button);
    color: var(--color-primary)

}
.active-filters-type
{
    position: relative;
    display: flex;
    width: 100%;
    & span{
        display:flex;
        width: 7em;
        align-items: center;
    }
    &:last-child{
    }
    & input
    {
        width: 85%;
    }
}

.waitingFilters
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    & img
    {
        width: 30%;
        object-fit: contain;
        filter: grayscale(0.4);
    }
    & h4
    {
        color:gray;
    }
}