.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    /*padding: 0 16px;*/
    font-size: 14px;
    color: #444;
    line-height: 2.6;
    text-align: center;
    background-color: var(--gray_app2);
    /*margin: auto;*/
}

.info-line {
    margin: 4px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-email {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.info-email:hover {
    text-decoration: underline;
}
