@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, serif;
    font-optical-sizing: auto;
    line-height: 1;
    font-size: 0.95rem;
    font-weight: 400;
    font-style: normal;

    color-scheme: light dark;
    color: #242424;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Custom props*/
    --color-primary: #0f212f;
    --white: #fff;
    --gray_app: #e8e8ef;
    --gray_app2:#f3f4f6 ;
    --red_app:#cf353b;
    --blue_app: #3c3b80;
}
#root {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
}
