@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, serif;
    font-optical-sizing: auto;
    line-height: 1;
    font-size: 0.95rem;
    font-weight: 400;
    font-style: normal;

    color-scheme: light dark;
    color: #242424;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Custom props*/
    --color-primary: #0f212f;
    --white: #fff;
    --gray_app: #e8e8ef;
    --gray_app2:#f3f4f6 ;
    --red_app:#cf353b;
    --blue_app: #3c3b80;
    --select_button: rgba(225, 225, 225, 0.8);
}
#root {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.PAGE
{
    height: 100%;
}

.hijo
{
    border-radius: 15px;
    margin: 0.8em;
    border: 1px solid var(--gray_app);
}
/* Atributos propios de html*/
/* Estilo general para todos los select */
select {
    appearance: none; /* Quita el estilo por defecto del navegador */
    width: 100%;
    max-width: 240px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* Flecha personalizada */
select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23333' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}
select:focus {
    outline: none;
}

/* Cuando está deshabilitado */
select:disabled {
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
}
/* Opciones internas (puedes personalizar si usas un dropdown custom) */
option {
    padding: 8px;
    background-color: #fff;
    color: #333;
}

select:hover {
    background-color: #f0f0f0;
}
select::-ms-expand {
    display: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input {
    background-color: white;
    border: 1px solid #e8e8ef;
    padding: 0.7em 0.2em 0.4em 0.5em;
    border-radius: 5px;
    transition: all 0.2s ease;
    color: var(--color-primary);
}

input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
}
